<div class="modal fade" id="buyModal" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
              <p>Are you sure you want to buy this?</p>
              <button class="btn btn-success" data-dismiss="modal">
                  <i class="glyphicon glyphicon-plus"></i> Add to cart</button>
            </div>
        </div>
    </div>
</div>

